<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include("./partials/head") %>
<!-- Head -->

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title fjalla">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
		</div>
		<div class="form-container ubuntu">
			<form action="/">
				<div class="campo">
					<label for="">Imagen</label>
					<input type="file" name="" id="">
				</div>
				<div class="campo">
					<label for="">Nombre del Producto</label>
					<input type="text">
				</div>
				<div class="campo">
					<label for="">Descripción del Producto</label>
					<textarea name="" id="" cols="30" rows="10"></textarea>
				</div>
				<button type="submit">Agregar</button>
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include("./partials/footer.ejs") %>
	<!-- /footer -->
</body>

</html>