<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include("./partials/head") %>
<!-- Head -->

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title fjalla">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
		</div>
		<div class="form-container ubuntu">
			<form action="/product/product-add" method="post">
				<div class="campo">
				<!-- Fercho tenes que hacer las validaciones de esto tambien -->
					<label for="foto">Imagen</label>
					<input type="text" name="foto" id="">
				</div>
				<div class="campo">
					<label for="producto">Nombre del Producto</label>
					<input type="text" name="producto">
				</div>
				<div class="campo">
					<label for="descripcion">Descripción del Producto</label>
					<textarea name="descripcion" id="" cols="30" rows="10"></textarea>
				</div>
				<button type="submit">Agregar</button>
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include("./partials/footer.ejs") %>
	<!-- /footer -->
</body>

</html>