<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include("./partials/head") %>
<!-- Head -->

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title fjalla">Editar mi perfil</h2>
			</div>
		</div>
		<div class="form-container ubuntu">
			<form action="/">
				<div class="campo">
					<label for="usuario">Email</label>
					<input type="email" placeholder="Ingresar email" name="email">
				</div>
				<div class="campo">
					<label for="">Usuario</label>
					<input type="text">
				</div>
				<div class="campo ">
					<label for="contraseña">Contraseña</label>
					<input type="text" name="contraseña">
				</div>
				<div class="campo">
					<label for="">Fecha de Nacimiento</label>
					<input type="date" name="" id="">
				</div>
				<div class="campo">
					<label for="">Número de Documento</label>
					<input type="number" name="" id="">
				</div>
				<div class="campo">
					<label for="">Foto de Perfil</label>
					<input type="text">
				</div>
				<button>Cargar</button>
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>